@import "../../global.scss";

.register {
    width: 100vw;
    height: 100vh;
    // background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
    //     url("https://cdn.hipwallpaper.com/i/98/21/dUyCkp.jpg");
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%),
        url(../../assets/register.jpg);
    background-size: cover;
    position: relative;

    .top {
        .wrapper {
            padding: 20px 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include mobile {
                padding: 20px 20px;
            }

            .logo {
                max-height: 40px;
            }
        }

        .loginButton {
            background-color: red;
            border: none;
            color: white;
            border-radius: 5px;
            padding: 5px 15px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }
    }

    .container {
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        color: white;

        h1 {
            font-size: 50px;
        }

        h2 {
            margin: 20px;
        }

        p {
            font-size: 20px;
        }

        @include mobile {
            h1 {
                width: 80%;
                font-size: 40px;
                text-align: center;
            }

            h2 {
                width: 80%;
                margin: 20px;
                font-size: 18px;
                text-align: center;
            }

            p {
                width: 80%;
                font-size: 20px;
                text-align: center;
            }
        }

        .input {
            width: 600px;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;
            height: 50px;
            border-radius: 5px;

            input {
                flex: 9;
                height: 100%;
                border: none;
                padding: 0px 15px;

                &:focus {
                    outline: none;
                }
            }

            .registerButton {
                flex: 3;
                height: 100%;
                background-color: red;
                border: none;
                cursor: pointer;
                color: white;
                font-size: 22px;
            }

            @include mobile {
                width: 50px;
                justify-content: center;
                height: 30px;

                .registerButton {
                    font-size: 12px;
                }
            }
        }
    }
}
